@import "tailwindcss";

:root {
  --primary-color: #000000;
  --secondary-color: #F8FAFC;
  --background-color: #fff;
  --text-color: #1D283A;
  --button-color: #F9EB53;
  --accent-color: #F8FAFC;
  --accent-color-2: #9DF8F1; 
  --border-color: #EAEAEA;
  --padding: 16px;
  --font-size: 16px;
  --line-height: 1.5;
  --border-radius: 10px;
  --border-radius-element: 20px;
}

.custom-container {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
